<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
<bean id="customer" class="com.spring.Customer">
<property name="cName" value="name1"/>
<property name="cId" value="123"/>
<property name="address" ref="addr"/>
 </bean>
 <bean id="addr" class="com.spring.Address">
 </bean>
</beans>